       .searchBar {
        background-color: $bg-search__color;
        height: 130px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 5px solid rgba(0, 0, 0, 0);
        border-image: linear-gradient(white, grey) 70;

        input:focus {
            outline-color: $color-secondary;
        }
    
        &--localisation {
            background-color: $bg-search__color;
            border: 0;
            font-size: 30px;
            padding-top: 10px; 
            padding-left: 50px;
            width: 100%;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;

            &::placeholder {
                color: black;
            }

            &:focus { 
                &::placeholder {
                    opacity: 0;
                }
            }
        }

        &--icone {
            font-size: 45px;
            padding-right: 5px;
        }
    }

    .topSection {
        background-color: #F6F6F6;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        flex-direction: column;

        &__titleContainer {
            display: flex;
            justify-content: space-around;
        }

        &--title {
            font-size: 50px;
            text-align: center;
            margin: 0;
            font-family: 'Roboto', sans-serif;
            font-weight: 600;
            padding-top: 80px;
            display: flex;
            align-items: center;
        }

        &__textContainer {
            display: flex;
            justify-content: space-around;
        }

        &__textContainer{
            font-size: 44px;
            text-align: center;
            margin: 0;
        }

        &--text {
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            color: #4D4D4D;
            display: flex;
            align-items: center;
            padding-top: 70px;

        }
    }

    .btnSection {
        background-color: $bg-color__grey;
    }

    .sectionTitle { 

        &__text{
            font-size: 45px;
            font-family: 'Roboto', sans-serif;
            font-weight: 600;
            padding-left: 10px;
            padding-top: 100px;
        }
    }

    .functionningSection {

        &__cardsContainer {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            
        }

        &__card {
            display: flex;
            align-items: center;
            background-color: $bg-color__grey;
            border-radius: 40px 40px 40px 40px;
            height: 200px;
            width: 93%;
            box-shadow: 0px 5px 10px rgb(126, 124, 124);
            margin-bottom: 70px;
            cursor: pointer;

            &:hover {
                background-color: lighten($color-primary, 35%);

                .functionningSection--icone{
                    color: $color-primary;
                }
            }
        }

        &--number {
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            background-color: $color-primary;
            border-radius: 100px;
            color: white;
            width: 70px;
            height: 70px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 45px;
            margin: -30px;
        }

        &--icone {
            color: #4D4D4D;
            font-size: 60px;
            padding-left: 80px;
            padding-right: 50px;
        }

        &--text {
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            font-size: 35px;
        }
    }

    .restaurantSection {
        background-color: $bg-color__grey;
        padding-bottom: 100px;
        
        &__cardsContainer {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        &__card {
            box-shadow: 0px 5px 10px #C9C9C9;
            width: 100%;
            margin-bottom: 50px;
            border-radius: 40px 40px 40px 40px;
            min-width: 250px;

            &:hover {
                box-shadow: 0px 0px 4px 5px $color-tertiary;    
            }
        }

        &__imageContainer {
            position: relative;
        }

        &--image {
            width: 100%;
            object-fit: cover;
            height: 400px;
            border-top-left-radius: 40px;
            border-top-right-radius: 40px;
        }

        &__ContentContainer {
            display: flex;
            justify-content: space-between;
            padding-right: 60px;
        }

        &--title {
            font-family: 'Roboto', sans-serif;
            font-weight: 600;
            font-size: 35px;
            display: flex;
            padding: 40px 0px 15px 20px;
        }

        &--city {
            display: flex;
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            font-size: 35px;
            padding: 0px 0px 30px 20px;
        }
    }


    a.cardLink {
        color: black;
        text-decoration: none;
        width: 100%;
        margin: 20px;
    }

    a.cardLink:visited {
        color: black;
        text-decoration: none;
    }

    a.cardLink:hover {
        color: black;
    }

    a.footerSection__contact {
        color: white;
        text-decoration: none;
    }

    a.footerSection__contact:visited {
        color: white;
        text-decoration: none;
    }

    a.footerSection__contact:hover {
        color: $color-secondary;
    }


@media screen and (min-width: 768px){
    
}

@media screen and (min-width: 1024px){

    .searchBar {
        height: 100px;
    
        &--localisation {
            font-size: 30px;
            width: 320px;
        }

        &--icone {
            font-size: 35px;
        }
    }
    
    .topSection {

        &--title {
            font-size: 35px;
            padding: 50px 95px 0px 95px;
        }

        &__textContainer{
            font-size: 25px;
        }

        &--text {
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            color: #4D4D4D;
            padding: 40px 5px 0px 5px;

        }
    }

    .sectionTitle__text {
        font-size: 35px;
        padding-left: 45px;
        margin-bottom: 50px;
    }

    .functionningSection {

        &__cardsContainer {
            justify-content: space-evenly;
            flex-direction: row;
            flex-wrap: wrap;
            
        }

        &__card {
            border-radius: 30px 30px 30px 30px;
            height: 100px;
            width: 400px;
            margin-bottom: 70px;
        }

        &--number {
            width: 40px;
            height: 40px;
            font-size: 20px;
            margin: -25px;
        }

        &--icone {
            font-size: 30px;
            padding-left: 40px;
            padding-right: 20px;
        }

        &--text {
            font-size: 20px;
        }
    }

    a.cardLink {
        width: inherit;
        margin: inherit;
    }
    .restaurantSection {
        
        &__cardsContainer {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }

        &__card {
            box-shadow: 0px 5px 10px #C9C9C9;
            width: 450px;
            margin-bottom: 50px;
        }

        &--image {
            width: 450px;
            height: 300px;
            border-top-left-radius: 40px;
            border-top-right-radius: 40px;
        }

        &--title {
            font-size: 30px;
        }

        &--city {
            font-size: 30px;
        }
    }

    .cardLink {
        padding: 0px 10px 0px 10px;
    }
}

@media screen and (min-width: 2560px) {

    .functionningSection{

        &__cardsContainer {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        &__card {
            width: 700px;
        }
    }
}

