.arrow {
    &__icone {
        position: absolute;
        top: 45px;
        left: 20px;
        font-size: 50px;
    }

    &__link {
        text-decoration: none;
        color: black;

        &:hover {
            color: $color-secondary;
        }
    }
}

.topMenu {
    position: relative;

    &__image {
        width: 100%;
        height: 500px;
        object-fit: cover;
    }
}

.menuTitle {
    font-family: 'Shrikhand';
    font-size: 40px;
}

.heartSection {
    &__iconeFullMenu {
        left: 0;
    }
}

.heartPositionMenu {
    padding-right: 60px;
}

.menuSection {
    background-color: $bg-color__grey;
    border-top-right-radius: 75px;
    border-top-left-radius: 75px;
    position: relative;
    z-index: 1;
    margin-top: -100px;
    width: 100%;
    padding: 20px 20px 0 20px;

    &__textContainer {
        display: flex;
        justify-content: space-between;
    }
}

.foodSection {

    &__cardsContainer {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        
    }

    &__card {
        display: flex;
        align-items: center;
        background-color: white;
        border-radius: 40px 40px 40px 40px;
        height: 180px;
        width: 100%;
        box-shadow: 0px 5px 10px rgb(126, 124, 124);
        margin-top: 50px;
        cursor: pointer;
        max-width: 1500px;
        overflow: hidden;
        animation: cardAppear .6s;
        animation-fill-mode: both;

        &:hover {
            .foodSection__animation {
                margin-right: 0rem;
            }
    
            .foodSection__animationIconeContainer {
                transform: rotate(0);
            }
        }
    }

    &--text {
        font-family: 'Roboto', sans-serif;
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding-left: 30px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    &__textContent {
        display: flex;
        flex-direction: column;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    &__plate {
        font-weight: 400;
        font-size: 30px;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    &__ingredient {
        font-family: 'Roboto', sans-serif;
        font-weight: 200;
        font-size: 25px;
        padding-top: 15px;
        padding-right: 10px;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    &__priceContainer {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding-right: 50px;
    }

    &__price {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 36px;
    }

    &__animation {
        background-color: #99e2d0;
        margin: -1rem -14rem -1rem 1rem;
        width: 14rem;
        display: flex;
        align-items: center;
        justify-content: center;
        transition-duration: .5s;
        height: 100%;
    }

    &__animationIconeContainer {
        height: 3.6rem;
        width: 3.6rem;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100px;
        transform: rotate(360deg);
        transition-duration: 0.9s;
    }

    &__animationIcone {
        color: $color-tertiary;
        font-size: 30px;
    }
}

.menuCardsLink {
    text-decoration: none;
}

.subtitle {

    &__container {
        animation: cardAppear .6s;
        animation-fill-mode: both;
        transform: scale(0);
    }

    &__text {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 30px;
        margin-top: 110px;
        margin-bottom: 15px;
        padding-bottom: 10px;
        position: relative;
        
        &::after {
            content: "";
            width: 80px;
            height: 5px;
            background-color: $color-tertiary;
            position: absolute;
            left: 0;
            bottom: 0;
        }
    }
} 

.btnSectionMenu {
    background-color: transparent;
}

@for $i from 0 to 12 {
    .animationDelay#{$i} {
      animation-delay:  #{$i/5}s;
    }
}

@keyframes cardAppear {
    0% {
        transform: translateY(15px);
        opacity: 0;
      }
      100% {
        transform: translateY(0);
        opacity: 1;
      }
}


@media screen and (min-width: 768px){
    
}

@media screen and (min-width: 1024px) {
    .arrow {
        &__icone {
            top: 55px;
            left: 90px;
            font-size: 30px;
        }
    }

    .menuTitle {
        font-size: 35px;
    }

    .heartSection {
        &__iconeFullMenu {
            top: 30px !important;
        }
    }

    .subtitle {
    
        &__text {
            font-size: 20px;
            margin-top: 50px;
            margin-bottom: 5px;

            &::after {
                content: "";
                width: 60px;
                height: 3px;
            }
        }
    }

    .topMenu {
        &__imageContainer {
            height: 500px;
        }

        &__image {
            object-fit: cover;
        }
    }

    .menuSection {
        padding: 0px 20px 0 20px;

        &__textContainer {
            padding-top: 50px;
        }
    }

    .foodSection {
        display: flex;
        justify-content: space-between;

        &__bloc {
            width: 30%;
            display: flex;
            flex-direction: column;
        }

        &__card {
            height: 85px;
            border-radius: 20px 20px 20px 20px;
            margin-top: 10px;
        }

        &--text {
            padding-left: 10px;
        }
    
        &__plate {
            font-size: 15px;
        }
    
        &__ingredient {
            font-size: 15px;
            padding-top: 5px;
        }
    
        &__priceContainer {
            padding-right: 20px;
        }
    
        &__price {
            font-size: 15px;
        }

        &__animation {
            width: 4rem;
        }

        &__animationIconeContainer {
            height: 1.6rem;
            width: 1.6rem;
        }

        &__animationIcone {
            font-size: 15px;
        }

    }

    .btnSectionMenu {
    
        &--textMenu {
            width: 220px;
            height: 80px;
            font-size: 20px;
        }
    }
}